<div class="container">
<h2>Presidents: Length of Retirement, in Days</h2>
<h4>(as of today, <%= Date.today.try(:strftime, '%b. %d, %Y') %>)</h4>
<h6>made with <%= link_to "d3.js", "http://d3js.org" %></h6>
  <!-- <div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="options" id="chronological" autocomplete="off" checked> Chronological
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="descending" autocomplete="off"> Descending
  </label>
</div> -->
</div
