<div class="container">
<h2>Presidents: Length of Retirement in Days</h2>
<h4>(as of <%= Date.today.try(:strftime, '%b. %d, %Y') %>)</h4>
<canvas id="myChart" width="1000" height="650"></canvas>
</div>
