<div class="container">
<h2>Presidents: Length of Retirement in Days</h2>
<h4>(as of <%= Date.today.try(:strftime, '%b. %d, %Y') %>)</h4>
<svg id="myChart"></svg>

<!-- <div id="myChart" width="1000" height="650"></div> -->
</div>
