<div class="container">
<div class="header">
<h2>Presidents: Length of Retirement, in Days</h2>
<h5>as of <%= Date.today.try(:strftime, '%b. %e, %Y') %> (automatically updates daily)</h5>
<h6>made with <%= link_to "d3.js", "http://d3js.org" %> by <%= link_to "Jeff Slutzky", "http://jeffslutzky.com" %></h6>
<h6>mouse over a bar to see more data</h6>
</div>

  <div>
    Sort:<br />
    <label>
      <input type="radio" name="options" id="chronological" autocomplete="off" checked> Chronological
    </label>
    <label>
      <input type="radio" name="options" id="descending" autocomplete="off"> Descending
    </label>
  </div>

</div
