/* line 5, /Users/jeffslutzky/Development/us_presidents/app/assets/stylesheets/presidents.scss */
.container {
  font-family: "Verdana";
  margin-top: 20px;
}

/* line 10, /Users/jeffslutzky/Development/us_presidents/app/assets/stylesheets/presidents.scss */
.header {
  margin-bottom: 20px;
}

/* line 14, /Users/jeffslutzky/Development/us_presidents/app/assets/stylesheets/presidents.scss */
.btn {
  background-color: blue;
}

/* line 18, /Users/jeffslutzky/Development/us_presidents/app/assets/stylesheets/presidents.scss */
svg {
  margin-top: 20px;
}

/* line 22, /Users/jeffslutzky/Development/us_presidents/app/assets/stylesheets/presidents.scss */
svg rect:hover {
  fill: yellow;
  stroke: black;
  stroke-width: 3;
}

/* line 28, /Users/jeffslutzky/Development/us_presidents/app/assets/stylesheets/presidents.scss */
svg text {
  fill: black;
  font: 12px sans-serif;
  text-anchor: end;
}

/* line 34, /Users/jeffslutzky/Development/us_presidents/app/assets/stylesheets/presidents.scss */
.axis text {
  font: 10px sans-serif;
}

/* line 38, /Users/jeffslutzky/Development/us_presidents/app/assets/stylesheets/presidents.scss */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* line 45, /Users/jeffslutzky/Development/us_presidents/app/assets/stylesheets/presidents.scss */
.x.axis path {
  display: none;
}

/* line 49, /Users/jeffslutzky/Development/us_presidents/app/assets/stylesheets/presidents.scss */
.d3-tip {
  line-height: 1;
  font-family: sans-serif;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 8px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

